/* Your app styles here */

img.logoaria {
    width: 100%;
    min-width: 100%;
    height: auto;
    max-width: 640px;
}
p.loghi{
    margin-top:1em;
}
.page-content.crediti{
    /*background-color:#fff;*/
}

ul.pulsantoni li{
    cursor: pointer;
    padding: 10px 16px;
    list-style: none;
    border: solid 1px black;
    margin: 0.5em;
    width: 80%;
    border-radius: 25px;
    background: white;
}
ul.pulsantoni li.voted{
    color: white;
    background-color: black !important;
}