/* Your app styles here */

#shareiqa img {}

#shareiqa {
    display: inline-block;
    position:relative;
    left: 77%;
}

#btnsave img {
    width: 90vw;
    border: solid 1px #FFF;
}

#btnsave {
    height: auto;
    display: block;
}

body .md body,
.md .icon .badge,
.md .f7-icons .badge,
.md .framework7-icons .badge,
.md .material-icons .badge {
    font-family: Helvetica, Arial, sans-serif !important;
}

img.logoaria {
    width: 100%;
    height: auto;
    max-width: 640px;
    display: block;
}

p.loghi {
    margin-top: 1em;
}

.page-content.crediti {
    /*background-color:#fff;*/
}

hr#more {
    border: solid 1px rgba(0, 0, 0, 0);
}

/*per frase RSS */

#sottofraseiqa > p:nth-child(1) {
    margin: 0;
    padding: 0;
}

ul.pulsantoni {
    padding: 0;
}

ul.pulsantoni li {
    cursor: pointer;
    padding: 10px 16px;
    list-style: none;
    border: solid 1px black;
    margin: 0.5em 0;
    width: 86%;
    border-radius: 25px;
    background: white;
}

ul.pulsantoni li.voted {
    color: white;
    background-color: black !important;
}

#invia {
    border: solid 1px black;
    border-radius: 25px;
    padding: 10px 16px;
    text-align: center;
    width: 230px;
    display: block;
    margin: 0 50%;
    transform: translate(-50%, 0);
}
