/* Your app styles here */
#shareiqa img {
    max-width: 50px;
    max-height: 50px;
}

img.logoaria {
    width: 100%;
    height: auto;
    max-width: 640px;
    display: block;
}
p.loghi{
    margin-top:1em;
}
.page-content.crediti{
    /*background-color:#fff;*/
}
/*per frase RSS */
#sottofraseiqa > p:nth-child(1) {
    margin: 0;
    padding: 0;
}

ul.pulsantoni li{
    cursor: pointer;
    padding: 10px 16px;
    list-style: none;
    border: solid 1px black;
    margin: 0.5em;
    width: 80%;
    border-radius: 25px;
    background: white;
}
ul.pulsantoni li.voted{
    color: white;
    background-color: black !important;
}