/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.md body {
    font-family: Helvetica, Arial, sans-serif !important;
}
/*background-image: linear-gradient(#B2FF59, #FFEA00 15%, #FFC600 25%, #FF5722 50%, #9E005D 100%);
 */

/*@keyframes example {
    0% {
        background-color: #00E676;
    }
    10% {
        background-color: #B2FF59;
    }
    25% {
        background-color: #FFEA00;
    }
    50% {
        background-color: #FFC600;
    }
    75% {
        background-color: #FF5722;
    }
    100% {
        background-color: #9E005D;
    }
}*/

@import url('https://fonts.googleapis.com/css?family=Space+Mono');



@keyframes example {
    0% {
        background-color: #00E676;
    }
    10% {
        background-color: #B2FF59;
    }
    20% {
        background-color: #FFEA00;
    }
    30% {
        background-color: #FFC600;
    }
    40% {
        background-color: #FF5722;
    }
    50% {
        background-color: #9E005D;
    }
    60% {
        background-color: #FF5722;
    }
    70% {
        background-color: #FFC600;
    }
    80% {
        background-color: #FFEA00;
    }
    90% {
        background-color: #B2FF59;
    }

}

/* The element to apply the animation to */

div.block.rainbow {
    height: auto;
    margin: 0;
    background-color: #CCC;
    animation: example 6s infinite;
    animation-delay: 4s;
    animation-timing-function: ease-out;
    min-height: 89%;
}

div.block#noconnesso,
div.block#connesso {
    margin: 0;
    padding: 16px 0 0 0;
}

.hide {
    display: none;
}

img.iconcina {
    max-width: 35px;
}

.md .block.datatop {
    margin: 0;
}

.md .navbar {
    text-transform: capitalize;
    background: #000;
}

/*frasi*/

.block.block-strong.sotto {
    padding: 16px 0;
}

#fraseiqa {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

h3, #sottofraseiqa {
    font-weight: 400;
}

/* inquinanti */

#inquinanti {
    margin: 1em 0;
}

#concentra {
    background-color: black;
    color: white;
    border-radius: 35px;
    margin: 1em;
    display: inline-block;
    padding: 10px 30px;
}

.inq {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    margin: 1em 0 0 0;
}

#inquinanti div.tinq {
    padding: 0.6em;
    font-weight: 600;
}

.barra {
    height: 30px;
    margin: 0;
}

.barrain {
    height: 100%;
    background-color: grey;
    width: 50%;
    display: inline-block;
}
