/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


/*background-image: linear-gradient(#B2FF59, #FFEA00 15%, #FFC600 25%, #FF5722 50%, #9E005D 100%);
 */

@keyframes example {
    0% {
        background-color: #00E676;
    }
    10% {
        background-color: #B2FF59;
    }
    25% {
        background-color: #FFEA00;
    }
    50% {
        background-color: #FFC600;
    }
    75% {
        background-color: #FF5722;
    }
    100% {
        background-color: #9E005D;
    }
}

/* The element to apply the animation to */

div.block.rainbow {
    height: 85%;
    margin: 0;
    background-color: #00E676;
    animation-name: example;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 5s;
}
div.block#noconnesso, div.block#connesso{
    margin: 0;
    padding-top:16px;
}
.hide{
    display:none;
}

img.iconcina {
    max-width: 35px;
}

.md .block.datatop {
    margin: 0;
}

.md .navbar {
    text-transform: capitalize;
    background: #000;
}
/*frasi*/
.block.block-strong.sotto {
    padding: 16px 0;
}
#fraseiqa {
    font-family: monospace;
    font-weight: 400;
}
#sottofraseiqa {
    font-weight: 400;
}