/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
   /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    background-color: #E4E4E4;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 1.17em;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.md body,
.ios body,
.md body p,
.ios body p {
    font-family: Helvetica, Arial, sans-serif !important;
}

/*background-image: linear-gradient(#B2FF59, #FFEA00 15%, #FFC600 25%, #FF5722 50%, #9E005D 100%);
 */

/*@keyframes example {
    0% {
        background-color: #00E676;
    }
    10% {
        background-color: #B2FF59;
    }
    25% {
        background-color: #FFEA00;
    }
    50% {
        background-color: #FFC600;
    }
    75% {
        background-color: #FF5722;
    }
    100% {
        background-color: #9E005D;
    }
}*/

.panel {
    width: 90%;
}

@keyframes example {
    0% {
        background-color: #00E676;
    }
    10% {
        background-color: #B2FF59;
    }
    20% {
        background-color: #FFEA00;
    }
    30% {
        background-color: #FFC600;
    }
    40% {
        background-color: #FF5722;
    }
    50% {
        background-color: #9E005D;
    }
    60% {
        background-color: #FF5722;
    }
    70% {
        background-color: #FFC600;
    }
    80% {
        background-color: #FFEA00;
    }
    90% {
        background-color: #B2FF59;
    }

}

/* The element to apply the animation to */

div.block.rainbow {
    height: auto;
    margin: 0;
    background-color: #00E676;
    animation: example 15s infinite;
    animation-delay: 4s;
    animation-timing-function: ease-out;
    min-height: 110%;
}

div.block#noconnesso,
div.block#noconnessioneiqa,
div.block#connesso {
    margin: 0;
    padding: 16px 0 0 0;
}

.hide {
    display: none;
}

img.iconcina {
    max-width: 40px;
}

img.iconcinamini {
    max-width: 25px;
    margin-top: 0.8em;
    padding-right: 6px;
    padding-left: 6px;
}
.datatitle.block.block-strong {
    display: inline-block;
    padding: 4px 0;
    margin: 5px 1em;
}
.md .datatop,
.ios .datatop,
.datatop {
    background-color:#E1E1E1;
    width: 100%;
    position: relative;
    margin-left: -1em;
    padding: 2px 1em 15px 1em;
    margin-top: -15px;
    height: 56px;
}

.toolbar,
.navbar,
.md .navbar,
.ios navbar,
.md .toolbar,
.ios .toolbar {
    background: #000 !important;
}

.md .navbar .title,
.ios .navbar .title {
    font-size: 30px;
}

.md .page,
.ios .page {
    background-color: #E1E1E1;
}

h1 {
    font-weight: 500;
    font-size: 30px;
}

.md .navbar::after,
.ios .navbar::after,
.md .toolbar-bottom-md::after,
.md .messagebar::after,
.ios .toolbar-bottom-ios::after,
.ios .messagebar::after,
.md .tabbar .tab-link-highlight,
.md .tabbar-labels .tab-link-highlight .ios .tabbar .tab-link-highlight,
.ios .tabbar-labels .tab-link-highlight {
    background-color: rgba(0, 0, 0, 0) !important;
    height: 0px !important;
    background: black !important;
}

.md .messagebar::after .list .item-title {
    font-size: 23px;
}

.md .block-strong::after,
.md .block-strong::before,
.ios .block-strong::after,
.ios .block-strong::before {
    background-color: rgba(0, 0, 0, 0);
}

.md .theme-dark .page,
.page.md .theme-dark,
.ios .theme-dark .page,
.page.ios .theme-dark {
    background: black !important;
}

.md .block,
.ios .block {
    margin: 20px 0 32px 0;
    padding: 0 16px;
}

/*frasi*/

.block.block-strong.sotto {
    padding: 0 0 1em 0;
    ;
}

.rigacorta {
    box-shadow: none;
    border: solid 1px black;
}

.rigacortapage {
    margin-top: -1em;
    border: solid 1px black;
}

#tabellainquinanti {
    margin-top: -1em;
}

#fraseiqa {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word !important;
}

h3,
#sottofraseiqa {
    font-weight: 400;
    line-height: 1.2;
    background-color: inherit;
}

/* inquinanti */

#inquinanti {
    margin: 1em 0;
}

#concentra,
.blackbutton {
    background-color: black;
    color: white;
    border-radius: 35px;
    margin: 1em;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
}

.blackbutton {
    margin: 1em 0 !important;
}

.inq {
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    margin: 1em 0 0 0;
}

#inquinanti div.tinq,
#inquinanti div.tstaz,
.tabella div.tinq {
    padding: 0 0.6em;
    font-weight: 400;
}

.tstaz {
    margin-bottom: 10px;
}

.tinq {
    line-height: 1;
}

.barra {
    height: 30px;
    margin: 0;
}

.barrain {
    height: 100%;
    background-color: #E1E1E1;
    width: 0%;
    display: inline-block;
}

.tabella {
    margin-bottom: 1.5em;
}

/*link*/

.md a,
.ios a {
    color: #000;
    text-decoration: underline;
    word-wrap: break-word;
}

.md li a,
.ios li a {
    text-decoration: none;
}
